.SearchContentTit {
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 1.2rem;
  color: rgb(95, 39, 205);

}

.categoryLabel {
  color:#F3887C;
  margin: 0;
  margin-right:3px;
  letter-spacing: -0.2px;
  width:65px;
}