.hd {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width:83px;
    background-color: #fff;
    height: 100vh;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 35%);
    text-align: center;
}
.hd_wrap {}
.hd_burger_btn {
    width: 200px;
}