.name {
    flex-direction: row;
    justify-content: space-between;
    display : flex;
    height: 100px;
    text-align: center;
    margin-left : 100px;
    margin-right: 100px;
}

.regiontable {
    margin-left : 100px;
    margin-right: 100px;
}